tr:hover{
    background-color: lightgrey;
}

#albums{
    color: darkred;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
  }

  a { 
    color: inherit; 
    text-decoration: underline;
} 